{% extends "financeiro/base.html" %}

{% block titulo %}
<h1> Detalhamento Despesas</h1>
{% endblock %}


{% block content %}
{% if exibir_por_competencia %}
<a href="{% url 'financeiro:despesa-update-comp' despesa.competencia despesa.id %}" >Alterar dados da Despesa</a><br>
<a href="{% url 'financeiro:despesa-delete-comp' despesa.competencia despesa.id %}" >Deletar Despesa</a><br>
{% else %}
<a href="{% url 'financeiro:despesa-update' despesa.id %}" >Alterar dados da Despesa</a><br>
<a href="{% url 'financeiro:despesa-delete' despesa.id %}" >Deletar Despesa</a><br>
{% endif %}

    <h2>Detalhe:</h2>
    <ul>
        <li>{{ despesa.nome }}</li>
        <li>{{ despesa.valor }}</li>
    </ul>

<br><br>

{% if exibir_por_competencia %}
    <a href="{% url 'financeiro:despesas-comp' despesa.competencia %}" >Voltar para lista</a>
{% else %}
    <a href="{% url 'financeiro:despesas' %}" >Voltar para lista</a>
{% endif %}

{% endblock %}

